---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/DefaultLayout.astro";
// import CardLink from '../../components/CardLink.astro'
const allProjects = await getCollection("portfolio");
const pageTitle = "Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="my-12">
    <div class="container">
      <h1>{pageTitle}</h1>
      <p class="text-2xl"></p>
    </div>
  </section>
  <section class="my-10">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <!-- {
          allProjects.map((project) => (
            <CardLink
              url={`/portfolio/${project.slug}/`}
              img="/assets/post-cover.jpg"
              title={project.data.title}
              footer="Tony Stark"
            >
              {project.data.description}
            </CardLink>
          ))
        } -->
      </div>
    </div>
  </section>
</BaseLayout>
